# these python extensions are for testing
tox
sh==1.12.14
molecule
molecule-vagrant
yamllint
ansible-lint
python-vagrant
anyconfig>=0.10.0 # not directly required, pinned by Snyk to avoid a vulnerability

setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
paramiko>=3.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability